<div class="splash">
    <div class="overlay"></div>

    <div class="headline-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="headline">
                        <h1 class="headline-text">
                            Osvath <span class="hidden-xs">-</span> Boros Robert
                        </h1>
                        <h5 class="headline-body">
                            Front-End Developer & Enterprise Javascript Architect
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-nav">
        <ul>
            <li><a href="https://github.com/osvathrobi" target="_blank"><img src="images/github.png"/></a></li>
            <li><a href="https://twitter.com/osvathrobi" target="_blank"><img src="images/twitter.png"/></a></li>
            <li><a href="https://ro.linkedin.com/in/osvathrobi" target="_blank"><img src="images/linkedin.png"/></a></li>
        </ul>
    </div>
</div>

<!--
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
<h2>Much More info</h2>
            </div>
        </div>
    </div>
</div>
-->

<div class="background">
</div>