<div class="splash">
    <div class="overlay"></div>

    <div class="headline-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="headline">
                        <div class="headline-text">
                            Osvath-Boros Robert
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-nav">
        x
    </div>
</div>


<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Much More info</h2>
            </div>
        </div>
    </div>
</div>


<div class="background">
</div>